* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #000000;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  .txt{
    font-weight:bold;
  }

  .backbutton{
    vertical-align: top;
    z-index: 50;
}
.riddles{
    z-index: 20;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 200px;
    margin: auto;
    background-color: #fafafa;
    border-radius: 5%;
    opacity: 100%;
    border-bottom: 20px;
    text-align: center;
    
}
.riddlesback{
    line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
    background-color: transparent;
    border-color: transparent;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 30px;
    color: rgba(119, 119, 119, 0.743);
    

}
.riddlehead{
    text-align: center;
    margin-top: 15px;
    
    
    
}

.coinnum{
    border-radius: 10%;
    border:transparent;
    height: 30px;
    width: 300px;
    text-align: center;
    vertical-align: top;
    margin-top: 25px;
}

.addcoinsub{
    text-align: center;
    vertical-align: top;
    justify-content:center;
    margin-top: 10px;
    background-color: #0088a9;
    color:#edf0f1;
    border-radius: 50px;
    height:30px;
    width: 70px;

}
.riddletxt{
    text-align: center;
    margin-top: 30px;
}

.button{
  padding: 9px 25px;
  background: transparent;
  color: #008394;
  border: 1px solid #008394;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: 1s;
  margin-bottom: 5px;
  position: absolute;
  width: 500px;
  height: 300px;
  top: 300px;
  text-align: center;
  display: inline-block;
  position: fixed;
  left: 450px;
  transition: 15s;
}

@keyframes animate{
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 400% 0;
  }
  100%{
    background-position: 0 0;
  }
}
.button::after{
  filter: blur(40px);
  opacity: 0.1;
}



@keyframes color-change {
  0% { color: red; }
  25%{color: rgb(255, 0, 230);}
  50% { color: blue; }
  75%{color: #ffe600;}
  100% { color: rgba(30, 255, 0, 0.233); }
}
.button::after{
  color: red;
}
.headcontainer{
  align-items: center;
  margin-top: 510px;
  margin-left: 450px;
  color: #edf0f1;
}
.disc{
    font-family: "Montserrat", sans-serif;
}

.twistthings{
    height: 400px;
    width:200px;
    box-shadow: 10px 10px rgb(108, 107, 107);
    border-color: black;
    border:1px;
    border-radius: 10px;
    place-items:inherit ;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    background-color: #edf0f1;

}
.twisthead{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 25px;
}
.twistheader{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 25px;
}
.twisthead{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 25px;
}
@media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }

.banbox{
  z-index: 500;
  height: 100%;
  width: 100%;
  position: absolute;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}
.banbox h3{
  font-style: 40px;
  font-weight: 400px;
  color: #333;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.banbox input{
  font-style: 40px;
  font-weight: 400px;
  color: #333;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  height: 50px;
  width: 500px;
  transition: 1s;
  border: 0px;
}

.banbox input:hover{
  background: linear-gradient(to right, #014751, #3e4601);
  color: whitesmoke;
  transition: 1s;
}
.banbox button{
  background-color: transparent;
  border: none;
}
