* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
  }
  .txt{
    font-weight:bold;
  }

  .backbutton{
    vertical-align: top;
    z-index: 50;
}
.riddles{
    z-index: 20;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 275px;
    margin: auto;
    background-color: #fafafa;
    border-radius: 5%;
    opacity: 100%;
    border-bottom: 20px;
    text-align: center;
    
}
.riddlesback{
    line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
    background-color: transparent;
    border-color: transparent;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 30px;
    color: rgba(119, 119, 119, 0.743);
    

}
.riddlehead{
    text-align: center;
    margin-top: 15px;
    
    
    
}

.coinnum{
    border-radius: 10%;
    border:transparent;
    height: 30px;
    width: 300px;
    text-align: center;
    vertical-align: top;
    margin-top: 25px;
}

.addcoinsub{
    text-align: center;
    vertical-align: top;
    justify-content:center;
    margin-top: 10px;
    background-color: #0088a9;
    color:#edf0f1;
    border-radius: 50px;
    height:30px;
    width: 70px;

}
.riddletxt{
    text-align: center;
    margin-top: 30px;
}

.button{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    justify-content: center;
    font-size: 50px;
    box-shadow: #24252a;
    box-sizing: border-box;
    display: inline-block;
    position: fixed;
    top: 10;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}
.disabled{
  background-color:rgba(166, 149, 158, 0.38);
}
.disc{
    font-family: "Montserrat", sans-serif;
}

.twistthings{
    height: 400px;
    width:200px;
    box-shadow: 10px 10px rgb(108, 107, 107);
    border-color: black;
    border:1px;
    border-radius: 10px;
    place-items:inherit ;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    background-color: #edf0f1;

}
.twisthead{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 25px;
}
.twistheader{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 25px;
}
.twisthead{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 25px;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;
}
body{
  background:#140019;
}
.container{
  width:600px;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.container2{
  margin-top:20px;
  overflow-y: auto;
  width: 100%;
}
.product{
  
  width: 400px;
  height: 550px;
  perspective: 1000px;
}

.product-inner{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  z-index: 20;
  

}
.product-front{
  position: absolute;
  width: 100%;
  height: 110%;
  background: #fff;
  border-radius: 30px;
}
.product-top{
  height: 50%;
  width: 100%;
  background: linear-gradient(#0794a6, #9bae07);
  color:#fff;
  border-radius: 30px;
}
.product-top h1{
  font-size: 130px;
  margin-left: 20px;
  font-style: italic;
  opacity: 0.3;
}
.product-bottom{
  padding: 50px 30px;
}
.product-bottom p{
  font-size: 12px;
}
.product-bottom h2{
  margin-bottom: 5px;
  color:#008384;
  letter-spacing: 1px;
}
.product-bottom h1{
  font-style: 40px;
  font-weight: 400px;
  color: #333;
  margin-bottom: 5px;
}
.product-bottom h1 span{
  color: #008394;
}
.product-bottom button, input{
  padding: 9px 25px;
  background: transparent;
  color: #008394;
  border: 1px solid #008394;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: 1s;
  margin-bottom: 5px;
}
.product-bottom button:hover{
  transition: 1s;
  background-color: #008384;
  color: #fff;
}
.color-select{
  display: flex;
  float: right;
  margin-top: -10px;
}
.select-item{
  width: 50px;
  height: 50px;
  margin: 0 10px;
  padding: 5px;
  box-shadow: -5px 0 8px 2px rgba(156, 216, 244, 0.5);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.select-item img{
  width: 80%;
  padding-top: 10%;
}

.select-item:hover{
  background: rgba(156, 216, 244, 0.5);
  box-shadow: none;
  transition: 0.5s;
}
.product-top2{
  background: linear-gradient(#c370fd, #3be1b8);

}
.product-top3{
  background: linear-gradient(#70fdc5, #d6e13b);
}
.product-top4{
  background: linear-gradient(to right, #c002d1, #0e24c9);
}
.product-top5{
  background: black;
}
.product-top6{
  background: black;
}

#figitimg{
  width: 300px;
  top: -20px;
  left: 50px;
  position: absolute;
  transform: translateZ (50px);
  transition: 1s;
  z-index: 100;
  opacity: 100%;
  transition: 2s;
}
.figitimgdiv{
  opacity: 50%;
  transition: 2s;
}
.figitimgdiv:hover{
  opacity: 100%;
}


@media only screen and (min-width: 1200px){
    .footer-2{
        justify-content: space-between;
    }
}
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  .banbox{
    z-index: 500;
    height: 100%;
    width: 100%;
    position: absolute;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
  }
  .banbox h3{
    font-style: 40px;
    font-weight: 400px;
    color: #333;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .banbox input{
    font-style: 40px;
    font-weight: 400px;
    color: #333;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    display: inline-block;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 500px;
    transition: 1s;
    border: 0px;
  }
  
  .banbox input:hover{
    background: linear-gradient(to right, #014751, #3e4601);
    color: whitesmoke;
    transition: 1s;
  }
  .banbox button{
    background-color: transparent;
    border: none;
  }
  @keyframes admin {
    0% { color: rgba(212, 255, 0, 0.656); }
    25%{color: rgba(89, 255, 0, 0.594);}
    50% { color: rgba(167, 164, 3, 0.503); }
    75%{color: #057b0770;}
    100% { color: rgba(225, 255, 55, 0.448); }
  }
  
  .adminTxt{
    font-family: "Montserrat", sans-serif;
    font-style: 40px;
    display: none;
    animation:admin 2s infinite;
  }
  @keyframes hax {
    0% { color: rgba(255, 0, 0, 0.656); }
    25%{color: rgba(4, 39, 143, 0.594);}
    50% { color: rgba(167, 3, 3, 0.503); }
    75%{color: #7b052370;}
    100% { color: rgba(255, 138, 55, 0.448); }
  }
  .haxtxt{
    animation:hax 2s infinite;
  }

  .discountredeemprice{
    text-decoration: line-through;
    text-decoration-color: red;
  }

#figitimg:hover{
  opacity: 100%;
}

.updatebanner{
  z-index: 20;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 700px;
  height: 5000px;
  margin: auto;
  background-color: #fafafa;
  border-radius: 30px;
  opacity: 100%;
  border-bottom: 20px;
  
  
}

.updatebanner h4{
  margin-left: 10px;
}


.login{
  z-index: 20;
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 500px;
  height: 1px;
  margin: auto;
  background-color: #fafafa;
  border-radius: 30px;
  opacity: 100%;
  border-bottom: 20px;
  border-radius: 30px;
  transition: 2s;
  text-align: center;
  box-shadow: 5px 10px rgb(0, 162, 255);
}

.login h3{
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  margin-top: 20px;
}

.login input{
  margin-top: 20px;
  margin-bottom:20px;
  height: 50px;
  width: 100px;
  text-align: center;
  border-radius: 30px;
  border-color: blue;
  transition: 1s;
  display: flex;
  margin:0 auto;
  align-items:center;
  margin-top: 20px;
}
.login input:hover{
  width: 300px;
}



.login button{
  background:linear-gradient(to right, rgba(5, 155, 5, 0.672), rgba(0, 0, 255, 0.603));
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom:20px;
  height: 50px;
  width: 100px;
  text-align: center;
  border-radius: 30px;
  border-color: rgb(0, 55, 255);
  transition: 1s;
  display: flex;
  margin:0 auto;
  align-items:center;
  margin-top: 20px;
  transition: 1s;
  display: inline-block;
}

.login button:hover{
  width: 150px;
}
